body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #65371f;
}
header {
  background-color: #b24038;
  color: black;
  padding: 10px 0px;
  position: fixed;
  width: 100%;
  top: 0px;
  right: 0px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s liner;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}
.logo img {
  width: 5rem;
  border-radius: 40px;
}
.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-links li {
  list-style-type: none;
}
.nav-links li a {
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  padding: 8px 45px;
}
.nav-links li a:hover {
  background-color: #b78c56;
  border-radius: 20px;
  transition: 0.1s all linear;
}
.header-icons {
  display: flex;
  font-size: 1.3rem;
  cursor: pointer;
  column-gap: 0.8rem;
}
.header-icons i:hover {
  color: #b78c56;
}
.search-box {
  display: flex;
  font-size: 1.3rem;
  cursor: pointer;
  column-gap: 0.8rem;
}
.search-box i:hover {
  color: #b78c56;
}
main {
  max-width: 1200px;
  margin: 20px auto;
  padding: 0 20px;
}
section {
  padding: 10px 100px;
}
.home {
  min-height: 100vh;
  background-image: url(coffee\ bc.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17rem, auto));
  align-items: center;
  gap: 1.5rem;
  margin-top: 9%;
}
.home h2 {
  font-size: 3.4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #e6d8bd;
}
.home h2:hover {
  color: #cf8e55;
}
.home p {
  font-weight: 600;
  color: #ffbe98;
  margin: 0.5rem 0 1.4rem;
}
.btn {
  background-color: #65371f;
  padding: 10px 15px;
  color: #fdf5e8;
  text-decoration: none;
  border-radius: 9px;
}
.btn:hover {
  background-color: #cf8e55;
}
.about {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17rem, auto));
  align-items: center;
  gap: 2.5rem;
  background-color: #714644;
  max-width: 1163px;
  margin: 20px auto;
  padding: 15px 20px;
}
.about-img img {
  border-radius: 1.5rem;
  max-width: 100%;
  width: 73%;
}
.about-text h2 {
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #e6d8bd;
}
.about-text h2:hover {
  color: #000;
}
.about-text p {
  font-size: 0.9rem;
  margin: 0.5rem 0 1.1rem;
  font-weight: 600;
  color: #ffbe98;
}
.about-text a {
  align-items: center;
  text-decoration: none;
  text-transform: capitalize;
  padding: 10px 15px;
  margin-left: 42%;
  color: #e6d8bd;
}
.about-text a:hover {
  background-color: #cf8e55;
  border-radius: 9px;
}
.heading {
  text-align: center;
}
.heading h2 {
  font-size: 1.8rem;
  text-transform: uppercase;
  border: 1px solid #b8621b;
}
.product-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(367px, auto));
  gap: 1.5rem;
  margin-top: 3rem;
}
.product-container .box {
  position: relative;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0.5rem;
  box-shadow: 12px 12px 2px 1px #714644;
  background-color: #a87c7c;
}
.product-container .box img {
  height: 250px;
  object-fit: contain;
  object-position: center;
  padding: 20px;
  background-color: #714644;
  border-radius: 0.2rem;
}
.product-container .box h3 {
  font-size: 1.3rem;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0.5rem 0 0.5rem;
}
.product-container .box .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-container .box .content span {
  padding: 0.3rem;
  color: #fff;
}
.product-container .box .content a {
  color: #fff;
  padding: 0.5rem;
  border: 1px solid black;
  text-decoration: none;
  border-radius: 0.3rem;
  text-transform: capitalize;
}
.product-container .box .content a:hover {
  background-color: #b78c56;
}
.customer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(367px, auto));
  gap: 1.5rem;
  margin-top: 3rem;
}
.customer-container .box {
  position: relative;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0.5rem;
  box-shadow: 5px 5px 5px 5px #b2a59b;
  background-color: #ded0b6;
  text-align: center;
  align-items: center;
}
.box .star {
  color: #607274;
}
.customer-container .box h2 {
  text-transform: capitalize;
}
.customer-container .box p {
  font-size: 0.9rem;
  text-transform: capitalize;
}
.customer-container .box img {
  border-radius: 50%;
  width: 115px;
  height: 115px;
  object-fit: cover;
}
.customer-container .box:hover {
  background-color: #faeed1;
  transition: 0.2 all linear;
}
.footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  gap: 1.5rem;
  margin-top: 3rem;
  background-color: #f3deba;
  margin: 20px 35px;
}
.footer .footer-box h2 {
  font-size: 1.9rem;
  font-weight: 500;
  margin: 10px;
}
.footer .footer-box p {
  font-size: 0.9rem;
  margin: 10px;
}
.social-media {
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
}
.social-media a i {
  padding: 5px;
  color: #bca37f;
  border-radius: 1.2rem;
}
.social-media a i:hover {
  background-color: #113946;
}
.footer-box li {
  list-style-type: none;
}
.footer-box li a {
  text-decoration: none;
  font-size: 1.3rem;
  color: #000;
}
.footer-box li a:hover {
  color: #555050;
}
.contact {
  display: flex;
  flex-direction: column;
  row-gap: 0.7rem;
}
.contact span {
  display: flex;
  align-items: center;
}
.contact span i {
  font-size: 20px;
  margin-right: 1rem;
}
.copyright {
  padding: 2px;
  text-align: center;
  font-size: 0.9rem;
  background-color: #bca37f;
}
@media(max-width:1058px){
  header{
    padding: 16px 60px;
  }
  section{
    padding: 50px 60px;
    object-fit: cover;
  }
  .home-text h2{
    font-size: 2.4rem;
  }
}
@media(max-width:991px){
  header{
    padding: 16px 4%;
  }
  section{
    padding: 50px 4%;
    object-fit: cover;
  }
  .home-text h2{
    font-size: 2rem;
  }
}
@media(max-width:991px){
  header{
    padding: 12px 4%;
  }
}
@media(max-width:360px){
  header{
    padding: 9px 4%;
  }
  section{
    object-fit: cover;
  }
  .logo{
    width: 45px;
  }
  .home-text{
    padding-top: 15px;
  }
  .home-text h2{
    font-size: 1.4rem;
  }
  .home-text p{
    font-size: 0.8rem;
    font-weight: 300;
  }
  .about-img{
    order: 2;
  }
  .about-text{
    text-align: center;
  }
}